.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(8, 172, 8);
  height: auto;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  text-shadow: 2px 2px 2px black;
}

.container, .league-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  height: 100vh;
}

.loader {
  text-align: center;
}

.navigation-button {
  border: 1px solid black;
  padding: 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 20px;
  width: 200px;
  text-align: center;

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.2s ease-in background-color;
  }
}

.App-title, .season-title {
  font-size: 30px;
  text-align: center;

  @media (min-width: 480px) {
    font-size: 40px;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player_container {
  padding: 20px;
  text-align: left;

  @media (min-width: 480px) {
    padding: 0 40px;
  }
}

.flag {
  width: 100px;
  margin-left: 20px;
  display: flex;
  align-self: center;
}

.player {
  margin: 30px;
}

.player_row {
  margin: 30px auto;
  display: block;

  @media (min-width: 480px) {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
  }

  p {
    padding: 0 20px;
  }

  &__title {
    display: flex;
    border: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h2 {
    display: block;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__icon {
    width: 100%;
    height: auto;
    border-radius: 0;

    @media (min-width: 480px) {
      width: 400px;
      height: auto;
      margin-bottom: 24px;
    }
  }
}



.player_score, .player_wins {
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  width: auto;
  font-size: 16px;
  font-weight: bold;

  @media (min-width: 480px) {
    width: 500px;
    font-size: 24px;
  }

  &:last-of-type {
    border-right: 1px solid black;
  }

  & p {
    display: inline;
    padding: 20px 10px;
  }
}

.player_wins {
  border-top: 0;
}

// .container {
//   display: grid;
//   grid-template-areas: "head  head  head"
//                        "nav   main  main"
//                        "nav   foot  foot";
//   grid-template-rows: repeat(3, 1fr);
//   grid-template-columns: repeat(3, 1fr);
// }
