.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(8, 172, 8);
  height: auto;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}

.App-title {
  font-size: 20px;

  @media (min-width: 482px) {
    font-size: 40px;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player_container {
  padding: 20px;
  text-align: left;

  @media (min-width: 480px) {
    padding: 40px;
  }
}


.player {
  margin: 30px;
}

.player_row {
  margin: 30px auto;
  display: block;

  @media (min-width: 480px) {
    display: flex;
    flex: 1;
    align-items: center;
  }

  p {
    padding: 0 20px;
  }

  h2, {
    display: block;
    padding: 10px 0;
    text-align: center;

    @media (min-width: 480px) {
      display: inline;
      padding: 20px 10px;
    }
  }

  div {
    border: 1px solid black;

    &:last-of-type {
      border-right: 1px solid black;
    }
  }
}

.player-icon {
  width: 100%;
  height: auto;
  border-radius: 0;

  @media (min-width: 480px) {
    width: auto;
    height: 95px;
  }
}

.player_score, .player_wins {
  padding: 20px;
  text-align: center;
  & p {
    display: inline;
    padding: 20px 10px;
  }
}

