.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(8, 172, 8);
  height: auto;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: 2px 2px 2px black;

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player_container {
  padding: 40px;
  text-align: left;
}

.player_row {
  display: flex;
  flex: 1;
  align-items: center;
}

.player {
  margin: 30px;
}

.player_row {
  margin: 30px auto;
}

.player_row p {
  padding: 0 20px;
}

.player_row div {
  border: 1px solid black;
  border-right: 0;
}

.player_row div:last-of-type {
  border-right: 1px solid black;
}

.player-icon {
  width: auto;
  height: 95px;
  border-radius: 0
}

.player_score {
  padding: 20px;
}

.player_row h2,
.player_score p {
  display: inline;
  padding: 20px 10px;
}

.player_score {
  margin-left: 20px;
}
